<tr>
<td>
        <center>
            <h2><u>Agro based</u></h2>
            
            <img src="agro.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
                <b>Agro Farm Supervisor</b><br>

                Overall supervision of cattle and poultry farms. <br>
                Need to know how to set up and check up habitat for animals. <br>
            </p>

</td>
<td>
        <center>
            <h2><u>Bank/Non-Bank institution</u></h2>
            
            <img src="bank.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
                <b>Supervisor</b><br>

                Overall supervision of bank security. <br>
                Need to know how to set up. <br>
            </p>

</td>
</tr>

<tr>
<td>
        <center>
            <h2><u>Bank/Non-Bank institution</u></h2>
            
            <img src="bank.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
                <b>Supervisor</b><br>

                Overall supervision of bank security. <br>
                Need to know how to set up. <br>
            </p>

</td>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
</tr>


<tr>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
</tr>
<tr>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
</tr>

<tr>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
</tr>
<tr>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
</tr>
<tr>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
</tr>
<tr>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
<td>
        <center>
            <h2><u>Job name</u></h2>
            
            <img src="job.jpg" alt="Workplace" usemap="#workmap" width="390" height="185">
        </center>
            <p>
        <ul>
                <b>Agro Farm Supervisor</b><br>

                "1-2 years of sales experience." <br>
              "A background in management, with a minimum of 2 years in a management role." <br>
              "Proven success as a developer." <br>
             "Experience directing projects and delegating tasks." <br>
         </ul>
            </p>

</td>
</tr>